appdirs==1.4.3
click==6.7
elasticsearch==5.3.0
elasticsearch-dsl==5.2.0
Flask==0.12.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.0
six==1.10.0
urllib3==1.21.1
Werkzeug==0.12.1
